body{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("../images/bg.jpg");
}
.row{
    width: 1000px;
    margin: auto;
}

#topbar{
    width: 100%;
    height: 50px;
    background: url("../images/topbg.jpg") repeat-x;
    border-bottom: 3px;
    border-color: #333;
    box-shadow: 2px 2px;
}


#title{
    width: 100%;
    height: 34px;
    margin: 40px 20px 30px 20px;
}

#title > h1{
    font-size: 30px;
    font-family: "微软雅黑", sans-serif;
    color: #333;
    font-weight: bold;
}

#navbar{
    background: url("../images/navbg.jpg") no-repeat;
}
#navbar > ul{
    text-align: center;
    padding-left: 20px;
    overflow: hidden;
    list-style: none;
}
#navbar > ul >li{
    background-color: transparent;
}
#navbar > ul >li >a{
    line-height: 50px;
    border: 0px;
    background-color: transparent;
}

footer{
    width: 100%;
    background-image: url("../images/footerbg.png");
}

footer > p{
    font-size: 15px;
    text-align: center;
    padding: 30px;
}